gfx-threading-mode=4
wait-for-native-debugger=0
hdr-display-enabled=0
build-guid=ce963bf3202c42ef84d1c273a446212a
dedicatedServer-port=7777
dedicatedServer-framerate=30
dedicatedServer-logpath=logs
dedicatedServer-queryport=20000
dedicatedServer-querytype=SQP
dedicatedServer-argument-error-policy=1
