gfx-threading-mode=4
wait-for-native-debugger=0
hdr-display-enabled=0
build-guid=a3331eecf5e747c2ba1669c12397d0a4
dedicatedServer-port=7777
dedicatedServer-framerate=30
dedicatedServer-logpath=logs
dedicatedServer-queryport=20000
dedicatedServer-querytype=SQP
dedicatedServer-argument-error-policy=1
