player-connection-mode=Listen
player-connection-guid=3471728301
player-connection-debug=0
player-connection-project-name=racecade2
player-connection-ip=192.168.3.191
gfx-threading-mode=4
wait-for-native-debugger=0
hdr-display-enabled=0
build-guid=2ffbe9f4b7b043a38351a69f5341739d
dedicatedServer-port=7777
dedicatedServer-framerate=30
dedicatedServer-logpath=logs
dedicatedServer-queryport=20000
dedicatedServer-querytype=SQP
dedicatedServer-argument-error-policy=1
